@import url('https://fonts.googleapis.com/css?family=Barriecito');

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;  
  text-align: center;
  color: black;
 
  background-color: #cfa35c;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png"),    url("https://www.transparenttextures.com/patterns/paper-fibers.png"), url("https://www.transparenttextures.com/patterns/noise.png");

  background-repeat: repeat;
  background-blend-mode: multiply, overlay, soft-light;
  
  box-shadow: inset 0 0 100px rgba(0,0,0,0.15);
  
}

/* Whole top header with Memphis cartoneras and small sentence */
.color-header {
  font-family: 'Barriecito', cursive;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  padding: 20px;
}

/* Individual Letter for Memphis Cartoneras */
.color-header span {
  display: inline-block;
  padding: 0 2px;
  position: relative;

  text-shadow: 
    1px 1px 0 rgba(0,0,0,0.35),
   -1px 1px 0 rgba(0,0,0,0.35),
    1px -1px 0 rgba(0,0,0,0.35),
   -1px -1px 0 rgba(0,0,0,0.35);

  transform: rotate(0deg) translateY(0px);
}

 nav {
  background-color: #3e2f2f;
  text-align: center;
  padding: 10px;
} 

/* Small header with about gallery contact */
nav a {
  color: white;
  background-color: #3e2f2f;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 24px;
  margin-bottom: 30px auto;
  width: 85%;
  box-shadow: 
    6px 6px 0 #b78c4d,
    10px 10 px 0 #9e733b;
}

footer {
  background-color: #3e2f2f;
  color: white;
  text-align: center;
  padding: 15px;
}
