@import url('https://fonts.googleapis.com/css?family=Barriecito');


body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;  
  background-color: #f2e2c4;
  text-align: center;
  color: black;
}

.color-header {
  font-family: 'Barriecito', cursive;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  background-image: url("https://rawpixel-dam-prod.s3-accelerate.dualstack.amazonaws.com/s3fs-private/rawpixel_files/website_content/px628593-image-kwvxm5xa.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA6P43CIYXRIRJAB2Q%2F20260207%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20260207T052957Z&X-Amz-Expires=14400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJIMEYCIQDyioqqEKugzMnFcNK0jeBiq34XiiNWkybyDaYW2f0BzgIhAP%2FRmVmv%2BdM%2FEbMhcCPWS8gwvDFP7by9PzHbNFIyNCmjKokECFEQBRoMOTk2MjIwNzQ5MzU5IgzIQogkOUXZeVMk%2Bqgq5gOaxi%2FP5LNxs%2Fkzy6k2fZyAHtgG90s54eBzFpKNBh2itJSDk%2BkzJexGvya7gQpn4k0TzUYr0mBlylTwQKh0stC%2FVMizlWU37K%2FqjT%2BifCceWv23HQujZOjfk%2F%2BWEHQFDVxn2E2yFa%2BL4ec0lasc%2BOL7j418OJrX%2FKuHLwLfGz2kSPGH3ffGynd1o1OPwYFS1ncxVckgBczVeutEfv5j1GIqajZXKM%2FurUZJ50ZdYFO0tYCpbjgb%2ByujvkQp7YmC5UJ5ELtBMkkLoYeyr%2F9CjMP36NjMfmpW2PSd844l1UhFeet1Jnxc%2FAF7xmfXhm4rxfskXcJ%2BKGfD5NWKMRWZwA%2BkBLjCGKMpiqKopVqaytge4a5A8wJSQ0eidCuxeywCAcxypD%2BQlE2UVGryvgQVnpwSFjANjHHNJFwGqE9MObAoIHHqbe0fY0HfB9xJXiW0LZvaRhpNJVejiMcBOdJICAPM9bfYXG%2BlS1rnyulgA0t8N8oPbWcfKfRDoVc4OL6fOVd3Z%2FOnnz0l66Tio3SVHuvqno6txKogjoRGAFYuxCGH1teZmozwPgfy1Y8BLe3eTtZkmBavD8w48Agu%2BHevFw%2BBMdyAZSoa2eLw3Es34au%2B6mnxJjbqLA5C1zfU%2F47SPVJk6g8xW0kwpoWazAY6pAFTRQlpUiw27Y3MYLyrLIh1H%2B4%2FEE%2Fwz5J1hoLfkHHoJsY6Kd3BT5x5jVbHM%2BglaepJf7zH%2BLW8KwiNDC0Dh0VOpSD36oE5YSAxr5r6kDB0wCWE87%2BaM2Q6O7CWnXC%2Fqk%2FTxpJj3o3dyc4eNIDYfv00A7b5KGUHuIzBaO9pYHOTVZiFG5T1eKudYIo5kvSVWa5aM64paT0s3r3pIvcFbCbNLZu28Q%3D%3D&X-Amz-Signature=21d004344ff4912e0d4970ae9652a5a4fc1245b2f4173677815ce463604863fe&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dimage-from-rawpixel-id-5922074-original.jpg&x-id=GetObject");
  background-color: #f2e2c4;
  padding: 20px;
}

.color-header span {
  display: inline-block;
  padding: 0 2px;
  position: relative;

  text-shadow: 
    1px 1px 0 rgba(0,0,0,0.35),
   -1px 1px 0 rgba(0,0,0,0.35),
    1px -1px 0 rgba(0,0,0,0.35),
   -1px -1px 0 rgba(0,0,0,0.35);

  transform: rotate(0deg) translateY(0px);
}

 nav {
  background-color: #3e2f2f;
  text-align: center;
  padding: 10px;
} 

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 0px #c9b28c;
}

footer {
  background-color: #3e2f2f;
  color: white;
  text-align: center;
  padding: 15px;
}
