@import url('https://fonts.googleapis.com/css?family=Barriecito');
@import.url('https://www.transparenttextures.com/patterns/cardboard.png');



body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;  
  background-color: #f2e2c4;
  text-align: center;
  color: black;
}

/* Whole top header with Memphis cartoneras and small sentence */
.color-header {
  background-color: #cca447;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  font-family: 'Barriecito', cursive;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  padding: 20px;
}


/* Individual Letter for Memphis Cartoneras */
.color-header span {
  display: inline-block;
  padding: 0 2px;
  position: relative;

  text-shadow: 
    1px 1px 0 rgba(0,0,0,0.35),
   -1px 1px 0 rgba(0,0,0,0.35),
    1px -1px 0 rgba(0,0,0,0.35),
   -1px -1px 0 rgba(0,0,0,0.35);

  transform: rotate(0deg) translateY(0px);
}

 nav {
  background-color: #3e2f2f;
  text-align: center;
  padding: 10px;
} 

/* Small header with about gallery contact */
nav a {
  background-color: #3e2f2f
  color: white:
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 24px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 0px #c9b28c;
}

footer {
  background-color: #3e2f2f;
  color: white;
  text-align: center;
  padding: 15px;
}
